{% extends 'partials/base.html' %}

 {% block content %}
   {% include 'partials/navbar.html' %}
   <div class="container mt-4">
    <a class="nav-link text-bold " href={% url 'homepage'%}> Home</a>
    <a class="nav-link text-bold" href={% url 'adddirector'%}>Add Director</a>
    <a class="nav-link text-bold" href={% url 'addfilm'%}>Add Film </a>
    <h1>Welcome to the Film Project homepage</h1>
    <p>Here you can find information about our films and create an account to access exclusive content.</p>
   </div>

   {% endcomment %}
  
  
{% endblock content %}
