<html> 
    <head>
        <title>{%block title%}Film Project{% endblock %}</title>
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <head>
        <body>
            {% block content %}{% endblock%}
            <footer class="footer mt-auto py-3 bg-light">
                <div class+"container">
                    <span class="text-muted">Film Project &copy; {%now "Y" %}</span>
                </div>
            </footer>
        </body>
</html>